<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Error Making Parcel!</title>
	</head>
	<body>
		<h1>Error in input! Please try again!</h1>
		<a href="/parcel/new">Retry Parcel create here</a>
	</body>
</html>