<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Parcel Form</title>
	</head>
	<body>
		<h1>Enter Your Parcel Information</h1>
		<form action="/parcel" method="post">
			<label for="xDim">Enter the Width of the Parcel (inches)</label>
			<input id="xDim" name="xDim" type="number">
		</form>
	</body>
</html>