<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Welcome to the parcel shipping!</title>
	</head>
	<body>
		<h1>Welcome to Parcel Shipping!</h1>
		<h3> Click <a href="\parcel\new">here</a> to make a new parcel!</h3>
	</body>
</html>